svg
{
    margin-top: 20px;
    display: block;
    margin: auto;
    border-style: solid;
    padding: 10px;
}

#prev
{
    float: left;
    margin-top: 15px;
    margin-left: 40%;
}

#next
{
    float: right;
    margin-top: 15px;
    margin-right: 40%;
}

p
{
    clear: both;
    text-align: center;
}