svg
{
    margin-top: 20px;
    display: block;
    margin: auto;
    border-style: solid;
    //padding: 10px;
    background-color: aliceblue;
}

#prev
{
    float: left;
    margin-top: 15px;
    margin-left: 40%;
}

#next
{
    float: right;
    margin-top: 15px;
    margin-right: 40%;
}

#prev,#next
{
    font-size: 15px;
}

p,h1
{
    clear: both;
    text-align: center;
    padding-top: 10px;
}

p
{
    font-size: 30px;
}

body
{
    background-color: antiquewhite;
}

#pen, #quiz
{
    font-size: 20px;
    padding-top: 0px;
}
